  <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Made with <3 by  <a href="https://github.com/ElleDavis" target="_blank">Elle</a>,  <a href="https://github.com/wizardoutofwater" target="_blank">Mike</a>,
         and  <a href="https://github.com/tristyngturner" target="_blank">Tristyn</a></p>
      </div>
      <div>
        <a href="/update-password">Update Password</a>
      </div>
    </footer>