  <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Made with <3 by  <a href="https://github.com/ElleDavis">Elle</a>,  <a href="https://github.com/wizardoutofwater">Mike</a>,
         and  <a href="https://github.com/tristyngturner">Tristyn</a></p>
      </div>
    </footer>