
  <div class="cover-container  content-wrapper d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{> navBar}}
  
    <main role="main" class="inner cover">
      <div class="blur-container ">
      <h1 class="cover-heading">It's time for a <span class="txt-yellow brand">re:union.</span></h1>
      <p class="lead">A catchy paragraph about how awesome our service is.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary rounded-pill">Learn more</a>
      </p>
      </div>
    </main>

  {{> footer}}
  </div>


<div class="bg-animation" id="bg-animation"></div>

<script>
  VANTA.GLOBE({
    el: "#bg-animation",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
     color: 0xcfdbd5,
  color2: 0xf5cb5c,
  backgroundColor: 0x242423
  })
</script>
