  <div class="cover-container content-wrapper d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{> navBar}}
  
    <form>
          <div class="row mb-4">
            <div class="form-group col-md-9">
              <input id="exampleFormControlInput5" type="text" placeholder="What're you searching for?" class="form-control form-control-underlined">
            </div>
            <div class="form-group col-md-3">
              <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
            </div>
          </div>
          
        </form>

  {{> footer}}
  </div>
 