  <div class="cover-container content-wrapper d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{> navbar}}
  <div class="loginForm p-3 shadow-6">
    <form action="./sign-up" method="POST" class="form-signUp">
  <h1 class="display-4 mb-3 lead">Sign Up!</h1>
  <p>Enter your e-mail and choose a password to create your account</p>
  <label for="signupEmail" class="sr-only">Email address</label>
  <input type="email" name="username" id="username" class="form-control form-control-underlined mb-3" placeholder="Email address" required autofocus>
  <label for="signupPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="password" class="form-control form-control-underlined mb-3" placeholder="Password" required>
 <small id="passwordHelpBlock" class="form-text text-muted">
  Your password must be 8-20 characters long.
</small>
  <button class="btn btn-lg btn-primary rounded-pill shadow-sm float-right float-md-none mt-3" type="submit">Sign Up!</button>

</form>
</div>


  {{> footer}}
  </div>
 